html,
body {
    color: #333;
    margin: 0;
    height: 100%;
    font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

a,
label,
button,
input,
select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
    border: 0;
}

body {
    background: #fff;
    color: #666;
}

html,
body,
div,
dl,
dt,
dd,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
button,
fieldset,
form,
input,
legend,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #08acee;
}

button {
    outline: 0;
}

img {
    border: 0;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    outline: none;
}

li {
    list-style: none;
}

a {
    color: #666;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {}

.divHeight {
    width: 100%;
    height: 10px;
    background: #f5f5f5;
    position: relative;
    overflow: hidden;
}

.r-line {
    position: relative;
}

.r-line:after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 1px solid #D9D9D9;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.b-line {
    position: relative;
}

.b-line:after {
    content: '';
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e2e2e2;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.aui-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 15px;
    position: relative;
}

.aui-flex-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    font-size: 14px;
    color: #333;
}


/* 必要布局样式css */

.aui-flexView {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.aui-scrollView {
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

.aui-navBar {
    height: 44px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 1002;
    background: #fff;
}

.aui-navBar-item {
    height: 44px;
    min-width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    padding: 0 0.9rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    color: #808080;
    position: relative;
}

.aui-navBar-item:first-child {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-right: -25%;
    font-size: 0.9rem;
    font-weight: bold;
}

.aui-navBar-item:last-child {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.aui-center {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 44px;
    width: 50%;
    margin-left: 25%;
}

.aui-center-title {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    font-size: 0.95rem;
    color: #333;
}

.icon {
    width: 20px;
    height: 20px;
    display: block;
    border: none;
    float: left;
    background-size: 20px;
    background-repeat: no-repeat;
}

.icon-return {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAACFElEQVRoQ+2av07DMBDG79IOSEhNWGBz3wE1ZaLqEzCxIRDMvASMbExsSFAWGOBFikQX9rYL3Uildgl/jBJaESitHNtRc46zRXKu97vvy/UUG6FgFxaMFyyw6Ypbha3ChlXAWtowQWdwrMJWYeUKNMseG18B4h4A70P43ghennrKYSUDZGzpGPYeEHem+XHgF8Ne+1gyX+XHMgSehY2yNRW45DH/IalsDMvhFcNwMxh0uspSSQbIQuGSy+q3iLCbzCmC/QC+Peq3nyVz1fKYbuBcw0YV0wmce1idwCRgdQE7Lqvf5fWd/fviq1ra8Zjf+h4qfq68NKj/upwKMDlYFUuThJUFJgsrA0waNi0wesy/odSgVJoWulX/EgGPqHTjeXOoSJc2BlbI0hVWazno7P9Wlse3iCL10jLzCwThAXB+GvQfzxctXpjx6vrWRnnlc5AE4zyPsAlEDNeCbieQsnThgKMqVVjt2kHngIClh8D5iZKlJ5DFalqmQadps0YonQY4/ieiPm2lBY6gSc/TMsCkoWWByUKrAMfQlL5nCc3SAkMsmS+WuoCjOGSgVS2dNAAJaJ3AJJTWDRxDz9s5NHEzbWLxOXvDhm6XLoY29wRAxF2oIw/TBt4sV6qjM+TOIQIfQ/jWMO0EgMCssrwlWXTp5dEI/LIFFigS6SVWYdLyCSRvFRYoEuklVmHS8gkkXziFvwBjCHpMzPRcCwAAAABJRU5ErkJggg==');
}

.m-slider {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

.slider-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    position: relative;
    z-index: 1;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

.slider-item {
    width: 100%;
    height: 100%;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background: #f6f6f6;
}

.slider-item img {
    width: 100%;
    height: auto;
    display: block;
    border: none;
}

.slider-pagination {
    text-align: right;
    position: absolute;
    width: 100%;
    z-index: 2;
    right: 0;
    bottom: 10px;
    pointer-events: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider-pagination>.slider-pagination-item {
    margin: 0 .25rem;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}

.slider-pagination>.slider-pagination-item.slider-pagination-item-active {
    background-color: #fff;
    border-radius: 100%;
}

.aui-palace {
    padding: 0.5rem 0;
    position: relative;
    overflow: hidden;
}

.aui-palace-grid {
    position: relative;
    float: left;
    padding: 1px;
    width: 20%;
    box-sizing: border-box;
    margin: 5px 0;
}

.aui-palace-grid-icon {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.aui-palace-grid-icon img {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}

.aui-palace-grid-text {
    display: block;
    text-align: center;
    color: #333;
    font-size: 0.85rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 0.2rem;
}

.aui-palace-grid-text h2 {
    font-size: 0.8rem;
    font-weight: normal;
    color: #666666;
}

.aui-flex-box h2 {
    color: #333;
    font-size: 1.1rem;
}

.aui-arrow span {
    color: #7d8da6;
    font-size: 0.75rem;
}

.aui-vehicle-cell {
    overflow: hidden;
    padding: 0 12px;
}

.aui-vehicle-cell .aui-vehicle-cell-item {
    width: 31.333%;
    margin: 0 1%;
    background: #4774d9;
    display: block;
    float: left;
    text-align: center;
    padding: 0.9rem 0;
}

.aui-vehicle-cell .aui-vehicle-cell-item:nth-child(2) {
    background: #d36566;
}

.aui-vehicle-cell .aui-vehicle-cell-item:nth-child(3) {
    background: #51bd99;
}

.aui-vehicle-cell .aui-vehicle-cell-item h2 {
    color: #fff;
    font-size: 0.9rem;
}

.aui-vehicle-cell .aui-vehicle-cell-item p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.7rem;
}

.aui-flex-box h1 {
    color: #15213b;
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.aui-car-img {
    width: 115px;
    height: auto;
    margin-right: 0.8rem;
    position: relative;
}

.aui-car-tag {
    background: #3d77ff;
    color: #fff;
    transform: scale(0.88);
    font-size: 0.6rem;
    position: absolute;
    left: -0.1rem;
    top: 0.3rem;
}

.aui-car-img img {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid #e9e6e6;
}

.aui-car-list .aui-flex-box h2 {
    font-weight: normal;
    overflow: hidden;
    font-size: 0.7rem;
    color: #7889a4;
}

.aui-flex-box h2 i {
    width: 19px;
    height: 19px;
    float: left;
    margin-right: 0.3rem;
}

.aui-flex-box h2 i img {
    width: 19px;
    height: 19px;
    display: block;
    border: none;
}

.aui-car-list .b-line:after {
    left: 15px;
    width: 92%;
}