<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog图片</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #FF6900;">
        <div class="container">
            <a id="dhl" class="nav-link" href="{{ url_for('index') }}" style="color: azure;text-align:right;font-size: larger;">Guo Siyu(20222601017)做的一个博客站</a>
            <ul class="nav justify-content-left">
                {% if not usernow %} {% else %}
                <li class="nav-item">
                    <a class="nav-link" style="color: aquamarine;">欢迎您，{{ usernow }} </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}" style="color: black;font-size: larger;">退出登录</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">主页</a>
                </li>

                {% if not usernow %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">写作</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('issue') }}">写作</a>
                </li>
                {% endif %} {% if not usernow %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">图片</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('img') }}">图片</a>
                </li>
                {% endif %} {% if not usernow %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">管理</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('manage') }}">管理</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    {% if not usernow %}
                    <a class="nav-link" href="{{ url_for('login') }}">登录</a> {% else %} {% endif %}
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h3>图片展示</h3>
        {% if images %}
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for image in images %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ loop.index0 }}" class="{% if loop.index0 == 0 %}active{% endif %}" aria-current="true" aria-label="Slide {{ loop.index }}"></button> {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for image in images %}
                <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                    <img src="{{ url_for('uploaded_file', filename=image.filename) }}" class="d-block w-100" alt="...">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        {% else %}
        <p>没有图片。</p>
        {% endif %}
    </div>

    <div class="container mt-5">
        <h3>上传图片</h3>
        <form action="{{ url_for('img') }}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="file" class="form-label">选择文件</label>
                <input type="file" class="form-control" id="file" name="file">
            </div>
            <button type="submit" class="btn btn-primary">上传</button>
        </form>
    </div>



    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>